@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background-color: #212121;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    position: relative;
    display: inline-block;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #141414;
    text-align: left;
    line-height: 1.4em;
    font-size: 14px;
    box-shadow: none !important;
}

.card *{
    box-sizing: border-box;
}

.card .profile-image img{
    /**/
    height: 80px;
    width: 80px;
    object-fit: cover;
    /**/
    border-radius: 5px;    
    vertical-align: top;
    float: left;
}

.card figcaption{
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 25px;
    display: inline-block;
    margin-bottom: 15px;
    border-radius: 5px;
    position: relative;
}

.card figcaption::after{
    content: '';
    position: absolute;
    left: 32px;
    top: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #333 transparent transparent transparent;
}

.card h3,
.card h4,
.card p{
    margin: 0 0 5px;
}

.card h3{
    font-weight: 600;
    font-size: 1.2em;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.card h4{
    color: #8c8c8c;
    font-weight: 400;
    letter-spacing: 2px;
}

.card p{
    font-size: 0.9em;
    letter-spacing: 1px;
    opacity: 0.9;
}

.card .icons{
    padding: 20px 90px;
}

.card i{
    padding: 10px 2px;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    opacity: 0.75;
}

.card i:hover{
    opacity: 1;
    transition: all 0.35s ease;
}

/*Barra de Navegação*/
.nav {
    display: flex;
    align-content: center;
    position: fixed;
    bottom: 0;
    left: auto;
}

.nav .icon{
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav .tooltip{
    z-index: 1000;
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none; 
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav .icon:hover .tooltip{
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.nav .tooltip::before{
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);/*Pesquisar Cubic-Bezier*/
}

.nav a{
    color: #050801;
}

.nav .icon:hover a,
.nav .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.nav .back:hover,
.nav .back:hover .tooltip,
.nav .back:hover .tooltip::before{
    background-color: #3b00df;
    color: #ffffff;
}

.nav .home:hover,
.nav .home:hover .tooltip,
.nav .home:hover .tooltip::before{
    background-color: #0060df;
    color: #ffffff;
}

.nav .next:hover,
.nav .next:hover .tooltip,
.nav .next:hover .tooltip::before{
    background-color: #009fc7;
    color: #ffffff;
}