@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 15px;
}

body{
    background: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: scroll;
}

header{
    color: hsl(233, 13%, 49%);
    margin: 3.3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toggle{
    margin-top: 2rem;
    color: hsl(234, 14%, 74%);
    display: flex;
    align-items: center;
}

.toggle-btn{
    margin: 0 1rem;
}
.checkbox{
    display: none;
}

.sub{
    background: linear-gradient(
        135deg, 
        rgba(163, 168, 240,1) 0%,
        rgba(105,111,221,1)100%
    );
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 1.6rem;
    width: 3.3rem;
    border-radius: 1.6rem;
    padding: 0.3rem;
}

.circle{
    background: #fff;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
}

.checkbox:checked + .sub{
    justify-content: flex-end;
}

.card{
    background: #fff;
    color: hsl(233, 13%, 49%);
    border-radius: 0.8rem;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cards .card.active{
    background: linear-gradient(
        135deg, 
        rgba(163, 168, 240,1) 0%,
        rgba(105,111,221,1)100%
    );
    color: #fff;
    display: flex;
    align-items: center;
    transform: scale(1.1);
    z-index: 1;
}

ul{
    margin: 2.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

ul li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
}

ul li.price{
    font-size: 3rem;
    color: hsl(232, 13%, 33%);
    padding-bottom: 2rem;
}

.shadow{
    box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);
}

.card.active .price{
    color: #fff;   
}

.btn{
    margin-top: 1rem;
    height: 2.6rem;
    width: 13.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: linear-gradient(
        135deg,
        rgba(163,168,240,1) 0%,
        rgba(105,111,221,1) 100%
    );
    color: #fff;
    outline: none;
    border: 0;
    font-weight: bold;
}

.active-btn{
    background: #fff;
    color: hsl(237, 63%, 64%);
}

.bottom-bar{
    border-bottom: 2px solid hsla(240, 8%, 85%, 0.582);
}

.card.active .bottom-bar{
    border-bottom: 2px solid hsla(240, 8%, 85%, 0.253);
}

.pack{
    font-size: 1.1rem;
}

@media (max-width: 280px){
    ul{
        margin: 1rem;
    }
    h1{
        font-size: 1.2rem;
    }
    .toggle{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 80px;
    }

    .cards{
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .card{
        transform: scale(0.8);
        margin-bottom: 1rem;
    }
    
    .cards .card.active{
        transform: scale(0.8);
    }
}

@media (min-width:320px) and (max-width:414px){
    .cards{
        display: flex;
        flex-direction: column;
    }

    .card{
        margin-bottom: 1rem;
    }

    .cards .card.active{
        transform: scale(1);
    }

}

@media (min-width:414px) and (max-width:768px){
    .card{
        margin-bottom: 1rem;
        margin-right: 1rem;
    }

    .cards .card.active{
        transform: scale(1);
    }
    
}

@media (min-width:768px) and (max-width:1046px){
    .cards{
        display: flex;
    }

    .card{
        margin-bottom: 1rem;
        margin-right: 1rem;
    }

    .cards .card.active{
        transform: scale(1);
    }
    
}

/*Barra de Navegação*/
.nav {
    display: flex;
    align-content: center;
    position: fixed;
    bottom: 0;
    left: 40%;
}

.nav .icon{
    position: relative;
    background-color: #ff0000;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav .tooltip{
    z-index: 1000;
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none; 
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav .icon:hover .tooltip{
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.nav .tooltip::before{
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);/*Pesquisar Cubic-Bezier*/
}

.nav a{
    color: #050801;
}

.nav .icon:hover a,
.nav .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.nav .back:hover,
.nav .back:hover .tooltip,
.nav .back:hover .tooltip::before{
    background-color: #3b00df;
    color: #ffffff;
}

.nav .home:hover,
.nav .home:hover .tooltip,
.nav .home:hover .tooltip::before{
    background-color: #0060df;
    color: #ffffff;
}

.nav .next:hover,
.nav .next:hover .tooltip,
.nav .next:hover .tooltip::before{
    background-color: #009fc7;
    color: #ffffff;
}