*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background: #f0f0f0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.box{
    border-radius: 20px;
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    box-shadow: 
        0px 0px 0px #cccccc,
        0px 0px 0px #ffffff,
        10px 10px 10px #cccccc inset,
        -10px -10px 10px #ffffff inset;
    animation: opening 3s cubic-bezier(0.16,1,0.3,1) 1s infinite alternate;
}

@keyframes opening {
    0%{
        width: 60px;
        height: 60px;
        background: #f0f0f0;
        box-shadow: 
            0px 0px 0px #cccccc,
            0px 0px 0px #ffffff,
            10px 10px 10px #cccccc inset,
            -10px -10px 10px #ffffff inset;
    }
    25%{
        width: 60px;
        height: 60px;
        background: #f8f8f8;
        box-shadow: 
            10px 10px 10px #cccccc,
            10px 10px 10px #ffffff,
            0px 0px 0px #cccccc inset,
            -0px -0px 0px #ffffff inset;
    }
    50%{
        width: 60px;
        height: 240px;
        background: #f8f8f8;
        box-shadow: 
            10px 10px 10px #cccccc,
            10px 10px 10px #ffffff,
            0px 0px 0px #cccccc inset,
            -0px -0px 0px #ffffff inset;
    }
    100%{
        width: 480px;
        height: 240px;
        background: #fafafa;
        box-shadow: 
            40px 40px 40px #cccccc,
            0px 0px 0px #ffffff,
            0px 0px 0px #ffffff,
            2px 2px 2px #ffffff inset;
    }
}

/*Barra de Navegação*/
.nav {
    display: flex;
    align-content: center;
    position: fixed;
    bottom: 0;
    left: auto;
}

.nav .icon{
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav .tooltip{
    z-index: 1000;
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none; 
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav .icon:hover .tooltip{
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.nav .tooltip::before{
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);/*Pesquisar Cubic-Bezier*/
}

.nav a{
    color: #050801;
}

.nav .icon:hover a,
.nav .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.nav .back:hover,
.nav .back:hover .tooltip,
.nav .back:hover .tooltip::before{
    background-color: #3b00df;
    color: #ffffff;
}

.nav .home:hover,
.nav .home:hover .tooltip,
.nav .home:hover .tooltip::before{
    background-color: #0060df;
    color: #ffffff;
}

.nav .next:hover,
.nav .next:hover .tooltip,
.nav .next:hover .tooltip::before{
    background-color: #009fc7;
    color: #ffffff;
}