@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    background: #318cfe;
    font-family: 'Montserrat', sans-serif;
}

.c{
    position: relative;
}

.text-c{
    display: grid;
    place-items: center;
}

.drop{
    position: absolute;
    height: 200px;
    width: 200px;
    background: #54abfb;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    opacity: 0.8;
    border: 2px solid #3d93ff;
}

.drop::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #318cfe;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    box-shadow: -20px 30px 16px #1b6cfb,
        -40px 60px 32px #1b6cfb,
        inset -6px 6px 10px #1b6cfb,
        inset 2px 6px 10px #1a74e5,
        inset 20px -20px 22px white,
        inset 40px -40px 44px #a8ceff;
}
.drop::after{
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    background: #e6fdfb;
    border-radius: 44% 56% 46% 54% / 36% 50% 50% 64%;
    left: 130px;
    top: 40px;
    box-shadow: 16px 40px 0 -10px white;
    opacity: 0.8;
}

.drop1{
    left: -100px;
    top: -50px;
}

.drop2{
    right: -100px;
    bottom: -50px;
    z-index: -1;
    border-radius: 46% 50% 39% 54% / 56% 57% 50% 50%;
}

.drop2::before{
    border-radius: 46% 50% 39% 54% / 56% 57% 50% 50%;
}

h1{
    font-size: 60px;
    color: white;
    line-height: 0;
}

p{
    line-height: 0;
    color: white;
    font-size: 20px;
}

/*Barra de Navegação*/
.nav {
    display: flex;
    justify-content: center;
}

.nav .icon{
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav .tooltip{
    z-index: 1000;
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none; 
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav .icon:hover .tooltip{
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.nav .tooltip::before{
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);/*Pesquisar Cubic-Bezier*/
}

.nav a{
    color: #050801;
}

.nav .icon:hover a,
.nav .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.nav .back:hover,
.nav .back:hover .tooltip,
.nav .back:hover .tooltip::before{
    background-color: #3b00df;
    color: #ffffff;
}

.nav .home:hover,
.nav .home:hover .tooltip,
.nav .home:hover .tooltip::before{
    background-color: #0060df;
    color: #ffffff;
}

.nav .next:hover,
.nav .next:hover .tooltip,
.nav .next:hover .tooltip::before{
    background-color: #009fc7;
    color: #ffffff;
}
