@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');

*{
    box-sizing: border-box;
}

*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
    background: #fff;
    color: #4d5974;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    margin: 0;
    padding: 4rem;
    width: 48rem;
}

.accordion .accordion-item{
    border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded='true']{
    border-bottom: 1px solid #03b5d2;
}

.accordion button{
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    outline: none;
}
/*Definindo o comportamento dos elementos selecionados quando o cursor apontar em cima deles.*/
.accordion button:hover,
.accordion button:focus{
    cursor: pointer;
    color: #03b5d2;
    
}
/*Essa parte do css eu não consegui entender para que serve, ou o que ele altera no código.*/
.accordion button:hover::after,
.accordion button:focus::after{
    cursor: pointer;
    color: #03b5d2;
    border: 1px solid #03b5d2;
}
*/
.accordion button .accordion-title{
    padding: 1em 1.5em 1em 0;
}
/*Criando e formatando um ícone*/
.accordion button .icon{
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}
/*Criando um traço na horizontal dentro do ícone*/
.accordion button .icon::before{
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}
/*Criando um traço na vertical dentro do ícone*/
.accordion button .icon::after{
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}
/*Definindo como os elementos irão se comportar quando o aria-expanded for 'true'. Só torna-se-á 'true' usando javascript.*/
.accordion button[aria-expanded='true']{
    color: #03b5d2;
}

.accordion button[aria-expanded='true'] .icon::after{
    width: 0;
}

.accordion button[aria-expanded='true'] + .accordion-content{
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p{
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
}

/*Barra de Navegação*/
.nav {
    display: flex;
    justify-content: center;
}

.nav .icon{
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav .tooltip{
    z-index: 1000;
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none; 
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav .icon:hover .tooltip{
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.nav .tooltip::before{
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);/*Pesquisar Cubic-Bezier*/
}

.nav a{
    color: #050801;
}

.nav .icon:hover a,
.nav .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.nav .back:hover,
.nav .back:hover .tooltip,
.nav .back:hover .tooltip::before{
    background-color: #3b00df;
    color: #ffffff;
}

.nav .home:hover,
.nav .home:hover .tooltip,
.nav .home:hover .tooltip::before{
    background-color: #0060df;
    color: #ffffff;
}

.nav .next:hover,
.nav .next:hover .tooltip,
.nav .next:hover .tooltip::before{
    background-color: #009fc7;
    color: #ffffff;
}
