body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #e8e8e8;
}

.switch{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 2px solid #dcdcdc;
    background: #e0e0e0;
    box-shadow: 7px 7px 23px #bebebe,
    -7px -7px 23px #ffffff;
    overflow: hidden;
    border-radius: 60px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #9a9a9a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-family: sans-serif;
}

input:checked + .slider::before{
    background: white;
    box-shadow: none;
}

input:focus + .slider{
    box-shadow: 0 0 1px #2196f3;
}

.slider-0{
    color: white;
    font-weight: 600;
    background-color: #49d84e;
}

.slider-1 div{
    transition: 0.5s;
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
}

input:checked ~ .slider-1 div:first-child{
    transform: translateY(-100%);
    transition-delay: 1s;
}

input:checked ~ .slider-1 div:last-child{
    transform: translateY(100%);
    transition-delay: 1s;
}

input:checked ~ .slider-2{
    transform: translateX(100%);
    transition-delay: 0.5s;
}

input:checked ~ .slider-3{
    transform: translateX(-100%);
    transition: 0.5s;
}

.slider-1 div:first-child{
    transform: translateY(0);
    top: 0;
    background-color: #f3f3f3;
    transition-delay: 0s;
}

.slider-1 div:last-child{
    transform: translateY(0);
    bottom: 0;
    background-color: #f3f3f3;
    border-top: 1px solid #e0e0e0;
    transition-delay: 0s;
}

.slider-2{
    background-color: #e6e6e6;
    transition-delay: 0.5s;
    transform: translateX(0);
    border-left: 1px solid #d2d2d2;
}

.slider-3{
    background-color: #d2d2d2;
    transition-delay: 1s;
    transform: translateX(0);
    border-right: 1px solid #d2d2d2;
}

/*Barra de Navegação*/
.nav {
    display: flex;
    justify-content: center;
}

.nav .icon{
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav .tooltip{
    z-index: 1000;
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none; 
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav .icon:hover .tooltip{
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.nav .tooltip::before{
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);/*Pesquisar Cubic-Bezier*/
}

.nav a{
    color: #050801;
}

.nav .icon:hover a,
.nav .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.nav .back:hover,
.nav .back:hover .tooltip,
.nav .back:hover .tooltip::before{
    background-color: #3b00df;
    color: #ffffff;
}

.nav .home:hover,
.nav .home:hover .tooltip,
.nav .home:hover .tooltip::before{
    background-color: #0060df;
    color: #ffffff;
}

.nav .next:hover,
.nav .next:hover .tooltip,
.nav .next:hover .tooltip::before{
    background-color: #009fc7;
    color: #ffffff;
}
